{% extends'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans mon blog !</h1>


<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda, blanditiis culpa dolore ducimus,
    exercitationem harum molestias nihil nisi obcaecati officiis quas, quia quibusdam recusandae rerum temporibus vero.
    Asperiores consequuntur corporis et incidunt laborum nam pariatur quisquam tempore voluptas, voluptatum.</p>
<p>
    Aliquid delectus eaque iure labore, laboriosam molestiae necessitatibus nostrum ullam? Accusamus accusantium, amet
    commodi dolores facilis laudantium libero magnam nulla, perspiciatis, quam quas qui rerum sapiente totam ullam!
    Architecto culpa deleniti dolore doloremque explicabo in modi officia possimus soluta voluptatem.</p>

{% endblock %}
